@use 'sass:color';

$brand-hue: 146;
$brand-sat: 100;
$brand-bright: 50;

$brand-color: hsl($brand-hue, $brand-sat * 1%, $brand-bright * 1%);

nav {
  position: relative;
}

nav .navbar-item {
  display: block;
  position: relative;
}

nav #navbar-marker {
  position: absolute;
  background: $brand-color;
  top: 0;
  right: 0;
  width: 6px;
  border-radius: 3px 0 0 3px;
  height: 2.4rem;
  transition: 0.3s ease;
}
